<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lumen ElekNet - Select Address - Add New Page</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.10.css" rel="stylesheet">
<link href="css/font-awesome.css" rel="stylesheet">
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/custom.js"></script>
<script src="js/ToggleNewPersonalCode.js"></script>


</head>

<body>
<div class="container-fluid">
  <div class="container header-top">

    <div class="col-sm-3 padAll noPadLR"><a id="lnkFrench" tabindex="5" href="javascript:__doPostBack('lnkFrench','')">Français</a></div>
  </div>
  <div class="container-fluid noPadLR" id="header">
    <div class="col-sm-12 noPadLR center">
      <div class="row header">
        <div class="shell">
          <div class="container">
            <div class="col-xs-3 padAll noPadLR txtLeft"><a href="login"><img src="images/lumen-logo-w.png1" alt=""/></a></div>
            <div class="col-xs-7 center padAll offSearch" id="searchBox">
              <div class="col-sm-11 noPadLR">
                <form action="#" method="get" class="searchBox">
                  <div class="col-sm-6 noPadLR">
                    <input id="searchField" placeholder="Search Products" type="text">
                  </div>
                  <!--div class="col-sm-6 noPadLR">
                    <div class="radioBtn col-sm-12 noPadLR">
                      <div class="col-xs-6 noPadR txtLeft">
                        <input type="radio" name="optradio">
                        Global Search</div>
                      <div class="col-xs-6 noPadR txtLeft">
                        <input type="radio" name="optradio">
                        Quick List</div>
                    </div>
                  </div-->
                </form>
              </div>
              <div class="col-sm-1 noPadLR">
                <button id="searchSubmit" type="submit"></button>
              </div>
            </div>
            <div class="col-xs-1 padAll noPadLR mobile"><i class="fa fa-search"></i></div>
            <div class="col-xs-1 padAll noPadLR">
              <div class="miniCart"><a href="shopping-cart.html"><img src="images/icon-cart.png" alt=""/><span class="count">0</span></a></div>
            </div>
            <div class="col-xs-1 padAll noPadLR"> <a href="login"><img src="images/icon-logout.png" alt=""/></a> </div>
          </div>
        </div>
      </div>
      <div class="navigation row">
        <div class="container">
          <div class="navbar">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <i class="fa fa-bars"></i> </button>
            </div>
            <div class="navbar-collapse collapse noPadLR">
              <ul class="nav navbar-nav">
                <li class="dropdown menuLarge"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<i class="fa fa-angle-right fr"></i></a>
                  <ul class="dropdown-menu megaMenu col-sm-4">
                    <li><a href="productheaders"><%= translation.PRODUCTHEADER %></a></li>
                    <li><a href="products"><%= translation.PRODUCTDETAIL %></a></li>
                    <li><a href="suppliers"><%= translation.SUPPLIER %></a></li>
                    <li><a href="branches"><%= translation.BRANCHE %></a></li>
                   </ul>
                </li>
                <li class="dropdown menuLarge"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manufacturers<i class="fa fa-angle-right fr"></i></a>
                </li>
                 <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<i class="fa fa-angle-right fr"></i></a>
                  <ul class="dropdown-menu menuLinks">
                    <li><a href="global-search.html">Global Search</a></li>
                    <li><a href="quick-list.html">Quick List</a></li>
                  </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Orders<i class="fa fa-angle-right fr"></i></a>
                  <ul class="dropdown-menu menuLinks">
                    <li><a href="order-template-selection.html">Template Selection</a></li>
                    
                  </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quote Builder<i class="fa fa-angle-right fr"></i></a>
                  <ul class="dropdown-menu menuLinks">
                    <li><a href="quote-builder.html">Quote Selection</a></li>
                   
                  </ul>
                </li>
                <li class="dropdown active"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<i class="fa fa-angle-right fr"></i></a>
                  <ul class="dropdown-menu menuLinks">
                    <li><a href="options.html">Settings (options)</a></li>
                   
                  </ul>
                </li>
                <li><a href="promotion.html">Deals</a></li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact Us<i class="fa fa-angle-right fr"></i></a>
                  <ul class="dropdown-menu menuLinks">
                    <li><a href="contact-us.html">Get in Touch</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>




  <ul>
    <li><a href="/?clang=es">Spanish</a></li>
    <li><a href="/?clang=en">English</a></li>
    <li><a href="/?clang=ar">Arabe</a></li>
    <li><a href="/?clang=fr">Francais</a></li>
  </ul> 


  <br />  <br />  <br />  <br />  <br />  
<div class="navbar navbar-default navbar-static-top" role="navigation">

  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="/"><%= translation.WELCOME_MSG %></a>
       <a class="navbar-brand" href="/product">Product</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if (currentUser) { %>
        <li>
          <a href="/edit">
            Hello, <%= currentUser.email %>
          </a>
        </li>
        <li><a href="/logout"><%= translation.LOGOUT %></a></li>
      <% } else { %>
        <li><a href="/login"><%= translation.LOGIN %></a></li>
        <li><a href="/signup"><%= translation.SIGNUP %></a></li>
      <% } %>
    </ul>

  </div>

</div>

<div class="container">

  <% errors.forEach(function(error) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% }) %>

  <% infos.forEach(function(info) { %>
    <div class="alert alert-info" role="alert">
      <%= info %>
    </div>
  <% }) %>
