<% include _header %>

<h1><%= translation.EDITPROFILE %></h1>

<form action="/edit" method="post">
  <input name="id" type="text" class="form-control" placeholder="Display name" value="<%= currentUser.id || "" %>">
  <input name="username" type="text" class="form-control" placeholder="Display name" value="<%= currentUser.username || "" %>">
  <input name="email" type="text" class="form-control" placeholder="Username"  value="<%= currentUser.email || "" %>"  required autofocus>
  <input name="password" type="password" class="form-control" placeholder="Password"  value="<%= currentUser.password || "" %>" required>
  <input name="bio" type="text" class="form-control" placeholder="email"   value="<%= currentUser.bio || "" %>" required autofocus>
  <input name="client_id" type="text" class="form-control" placeholder="birthDay"  value="<%= currentUser.client_id || "" %>" required autofocus>
  <input name="isactive" type="text" class="form-control" placeholder="birthDay"  value="<%= currentUser.isactive || "" %>" required autofocus>
  <input type="submit" value="<%= translation.UPDATE %>" class="btn btn-primary btn-block">
</form>

<% include _footer %>
