<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lumen ElekNet - Settings (Options) Page</title>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.10.css" rel="stylesheet">
<link href="css/font-awesome.css" rel="stylesheet">
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/custom.js"></script>
<script src="js/ToggleNewPersonalCode.js"></script>
<script src="js/bootstrap-tabcollapse.js"></script>

</head>
<body>
<div class="container-fluid">

  <div class="container breadCrumb ">
    <ul>
      <li><a href="#">My Account</a></li>
      <li>Settings (Options)</li>
    </ul>
    <div id="pageTitle" class="cellTable">
      <div class="glyphicon glyphicon-play fl redTxt cellTableCell"></div>
      <div class="cellTableCell redTxt">
        <h1>Settings (options)</h1>
      </div>
      <div class="cellTableCell lightText"><span>|</span></div>
      <div class="cellTableCell lightText">
        <h5>Change password and current session information</h5>
      </div>
    </div>
    <div class="space0 clearfix btmBorder"></div>
  </div>
  <div class="container pageContent settings">
    
    <div class="col-sm-12 noPadLR">


      <ul id="myTab" class="nav nav-tabs">
        <li><a href="#display" data-toggle="tab"><%= translation.DISPLAYCATEGOYIES %></a></li>
        <li><a href="#add" data-toggle="tab"><%= translation.ADD %></a></li>
        <li><a href="#edit" data-toggle="tab"><%= translation.EDIT %></a></li>
      </ul>
      <div id="myTabContent" class="tab-content allBorder padAll col-sm-12" >

        <div class="tab-pane fade in active  padAll col-sm-12" id="display">
  
	<a  href="#add"  data-toggle="tab" onclick="ShowOnlyAdd()"><input class="simpleBtn" type="submit" name="" value="<%= translation.ADD %>"></a>

  <div class="pageContent address">
       <div class="col-xs-12 noPadLR responTable">
  		<div class="col-xs-12 noPadLR">
  			<table>
  			<thead>
  				<tr>
  					<th><%= translation.NAME %></th>
  					<th><%= translation.IMAGEURL %></th>
  					<th><%= translation.ACTION %></th>
				</tr>
				</thead>
				<tbody>
        <% productheaders.forEach(function(productheader) { %>
					<tr>
						<td ><%= productheader.name %></td>
						<td ><%= productheader.imageurl %></td>
						<td>
							<div class="col-xs-3 col-md-6 noPadLR "><a href="#edit" data-toggle="tab" onclick="fillEdit('<%= productheader.id %>','<%= productheader.name %>','<%= productheader.imageurl %>') , ShowOnlyEdit() " ><i class="fa fa-edit"></i></a></div>
							<div class="col-xs-3 col-md-6 noPadLR "><a href="#"><i class="fa fa-trash-o"></i></a></div>
						</td>
					</tr>
          <% }) %>
				</tbody>	
			</table>
		</div>
	</div>
  </div>
    </div>
  <div class="tab-pane fade in padAll  col-sm-12" id="add">
               <div class="">

               <div class="contentBox col-xs-12 col-sm-8 col-sm-push-2">
                <div class="form-group col-sm-12">
                    <p>(*) <%= translation.FIELDSMANDATORY %></p>
                    </div>
                    <form action="/createproductheader" method="post">
                        <div class="form-group col-md-6">
                       <input  type="text" id="nameadd" name="nameadd" value="" tabindex="1"  >
                        <label class="fa fa-address-card"></label>
                        </div>
                        <div class="form-group col-md-6">
                        <input  type="text" id="imgurladd" name="imgurladd" value="" tabindex="1"  >
                        <label class="glyphicon glyphicon-user"></label>
                        </div>
                        <div class="clearfix space0"></div>

                        <div class="form-group col-md-3 col-xs-6 noMarB">
                        <input class="submitBtn redBtn center" name="" value="<%= translation.SAVE %>" type="submit">
                        </div>
                        </div>
                    </form>
                </div>
  	<div class="col-sm-6 noPadLR">
		<a  href="#display"  data-toggle="tab" ><input class="simpleBtn" type="submit" name="" value="<%= translation.PREVIOUS %>" onclick="ShowOnlyDisplay()"></a>
	</div>
        </div>

        <div class="tab-pane fade in padAll col-sm-12" id="edit">
               <div class="">

                    <div class="contentBox col-xs-12 col-sm-8 col-sm-push-2">
                <div class="form-group col-sm-12">
                    <p>(*) <%= translation.FIELDSMANDATORY %></p>
                    </div>
                   <form action="/productheaderedit" method="post">
                        <div  class="form-group col-md-6">
                        <input type="hidden" id="idedit"  name="idedit" value="">
                        <input  type="text" id="nameedit" name="nameedit" value="" tabindex="1"  >
                        <label class="fa fa-address-card"></label>
                        </div>
                        <div  class="form-group col-md-6">
                        <input type="text" id="Iamgeurledit" name="Iamgeurledit" value=""  tabindex="1">
                        <label class="glyphicon glyphicon-user"></label>
                        </div>
                        <div class="clearfix space0"></div>

                        <div class="form-group col-md-3 col-xs-6 noMarB">
                        <input class="submitBtn redBtn center" name="" value="<%= translation.SAVE %>" type="submit">
                        </div>
                        </div>
                 </form>
      </div>

  <div class="col-sm-6 noPadLR">
		<a  href="#display"  data-toggle="tab" ><input class="simpleBtn" type="submit" name="" value="<%= translation.PREVIOUS %>" onclick="ShowOnlyDisplay()"></a>
	</div>             
        </div>
		</div>
      </div>
      <script type="text/javascript">
        $('#myTab').tabCollapse();
     </script> 
  </div>
  <div class="clearfix space0"></div>
  </div>
</div>

<script>
function fillEdit(param1,param2,param3) {
    document.getElementById("idedit").value = param1
    document.getElementById("nameedit").value = param2
    document.getElementById("Iamgeurledit").value = param3
}
function ShowOnlyEdit() {
    $('#myTab a[href="#edit"]').tab('show');
    $('#display-collapse').collapse('hide');
    $('#add-collapse').collapse('hide');
    $('#edit-collapse').collapse('show');
}
function ShowOnlyDisplay() {
    $('#myTab a[href="#display"]').tab('show');
    $('#add-collapse').collapse('hide');
    $('#edit-collapse').collapse('hide');
    $('#display-collapse').collapse('show');
}
function ShowOnlyAdd() {
    $('#myTab a[href="#add"]').tab('show');
    $('#display-collapse').collapse('hide');
    $('#edit-collapse').collapse('hide');
    $('#add-collapse').collapse('show');
}
</script>
</body>
</html>
